.about-section {
    text-align: center;
    padding: 50px;
  }
  
  .about-section h2 {
    color: #6c63ff;
  }
  
  .highlight {
    color: #6c63ff;
  }
  
  .avatar-container img {
    width: 150px;
    border-radius: 50%;
  }
  